body {
    background-color: beige;
    margin: 0%;
    animation: ease-out page-load 3000ms;
    opacity: 100%;

}

@keyframes page-load {
    0%{
        opacity: 45%;
    }
    100%{
        opacity: 100%;
    }
}