
#TopRowContainer{
    height: 15svh;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 3vh solid black; 
}
    #BoxOne{
        width: 25svw;
        background-color: white;
        height: 15svh;
    }
    #BoxTwo{
        width: 40svw;
        background-color: white;
        height: 15svh;
    }
    #BoxThree{
        width: 30svw;
        background-color: gold;
        height: 15svh;
    }
    #SpacerLeft{
        width: 1svw;
        background-color: black;
    }

    #SpacerRight{
        width: 1svw;
        background-color: black;
    }

#BigBodyContainer{
        height: 147svh;
        width: 97svw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: greenyellow;
        border: solid 1.6svw rgb(58, 56, 56);
  
        
}
#BodyContainer{
    width: 97svw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blueviolet;
}
#LeftColumnContainer{
    height: 128svh;
    width: 19svw;
    background-color: green;
    display: flex;
    flex-direction: row;
}
    #BoxFourAndSevenContainer{
        width: 20svw;
    }
        #BoxFour{
            background-color: white;
            height: 50svh;
            width: 19svw;
            border-bottom: 3vh solid black;
        }
    
        #BoxSeven{
            background-color: white;
            height: 75svh;
            width: 19svw;
        }
    

    #MiddleLeftSpacer{
        background-color: black;
        height: 128vh;
        width: 1svw;
    }

#MiddleAndMiddleBottom{
    display: flex;
    flex-direction: column;
    width: 77svw;
}    
    #MiddleAndRightContainer{
        background-color: white;
        height: 100svh;
        width: 77svw;
        display: flex;
        flex-direction: row;
    }
        #BoxFive{
            background-color: Red;
            height: 100svh;
            width: 100svw;
            border-bottom: solid black 3vh;
        }

        #MiddleRightSpacer{
            background-color: black;
            height: 128svh;
            width: 2svw;
        }
        
        #BoxSixEightAndElevenContainer{
            height: 200vh;
            background-color: gray;

        }
            #BoxSix{
                width: 30svw;
                height: 48.5vh;
                background-color: gold;
            }

            #BoxEight{
                width: 30svw;
                height: 49svh;
                background-color: white;
            }

            #BoxEleven{
                width: 30svw;
                height: 25.5svh;
                background-color: white;
            }

            .RightColumnVerticalSpacer{
                height: 2.5svh;
                width: 30svw;
                background-color: black;
            }

        #BoxNineTenAndElevenContainer{
            margin-top: 2.5vh;
            width: 47svw;
            height: 25.5vh;
            display: flex;
            flex-direction: row;
        }
            #BoxNine{
                width: 22svw;
                height: 25.5svh;
                background-color: rgb(3, 3, 128);
            }

            #BoxTen{
                width: 22.1svw;
                height: 25.5svh;
                background-color: white;
            }
            #NineTenSpacer{
                height: 25.5svh;
                width: 2svw;
                background-color: black;
            }

/* Need to find a spot to fit this comfortably */

#MiddleBottomContainer{
    width: 77svw;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#BottomRowSpacer{
    width: 100svw;
    height: 2svh;
    background: black;
}

