
#TopRowContainer{
    height: 15svh;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 3vh solid black; 
}
    #BoxOne{
        width: 25svw;
        background-color: white;
        height: 15svh;
    }
    #BoxTwo{
        width: 40svw;
        background-color: white;
        height: 15svh;
    }
    #BoxThree{
        width: 30svw;
        background-color: gold;
        height: 15svh;
    }
    #SpacerLeft{
        width: 1svw;
        background-color: black;
    }

    #SpacerRight{
        width: 1svw;
        background-color: black;
    }

#BodyContainer{
        height: 100svh;
        width: 97svw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: blueviolet;
}
#LeftColumnContainer{
    height: 150svh;
    width: 19svw;
    background-color: green;
    display: flex;
    flex-direction: row;
}
    #BoxFourAndSevenContainer{
        width: 20svw;
    }
        #BoxFour{
            background-color: white;
            height: 50vh;
            width: 19svw;
            border-bottom: 3vh solid black;
        }
    
        #BoxSeven{
            background-color: white;
            height: 75vh;
            width: 19svw;
            border-bottom: 3vh solid black;
        }
    

    #MiddleLeftSpacer{
        background-color: black;
        height: 210vh;
        width: 1svw;
    }

#MiddleAndMiddleBottom{
    display: flex;
    flex-direction: column;
    width: 77svw;
}    
    #MiddleAndRightContainer{
        background-color: white;
        height: 100svh;
        width: 77svw;
        display: flex;
        flex-direction: row;
    }
        #BoxFive{
            background-color: Red;
            height: 100svh;
            width: 100svw;
            border-bottom: solid black 3vh;
        }

        #MiddleRightSpacer{
            background-color: black;
            height: 155vh;
            width: 2svw;
        }
        
        #BoxSixEightAndElevenContainer{
            height: 200vh;
            background-color: gray;

        }
            #BoxSix{
                width: 30svw;
                height: 48.5vh;
                background-color: gold;
            }

            #BoxEight{
                width: 22.5vw;
                height: 48.5vh;
                background-color: white;
            }

            #BoxEleven{
                width: 22.5vw;
                height: 25vh;
                background-color: white;
            }

            .RightColumnVerticalSpacer{
                height: 3vh;
                width: 22.5vw;
                background-color: black;
            }

        #BoxNineTenAndElevenContainer{
            margin-top: 2.5vh;
            width: 52.5vw;
            height: 30vh;
            display: flex;
            flex-direction: row;
        }
            #BoxNine{
                width: 30vw;
                height: 30vh;
                background-color: rgb(3, 3, 128);
            }

            #BoxTen{
                width: 30vw;
                height: 30vh;
                background-color: white;
            }
            #NineTenSpacer{
                height: 30vh;
                width: 2.5vw;
                background-color: black;
            }